# Virtual environment
venv/
env/
myenv/


# Python bytecode
**__pycache__/

*.pyc
*.pyo

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store  # macOS
Thumbs.db  # Windows
C:\Users\sss\Documents\GitHub\Hash_demo\app\__pycache__