<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="container">
        <div class="header-section">
            <h1>Log In</h1>
            {% if error %}
        <div style="color: red;">
            <p>{{ error }}</p>
        </div>
    {% endif %}
        </div>
        <div class="form-section">
            <form action="{{ url_for('login') }}" method="POST">
                <label for="username">Email:</label>
                <input type="text" name="username" required><br>

                <label for="password">Password:</label>
                <input type="password" name="password" required><br>

                
                <button type="submit" class="button">Log In</button>
                
            </form>
        </div>
        <p class="loginp">Don't have an account? <a class="login" href="{{ url_for('signup') }}">Sign Up</a></p>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
