<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign UP</h1>
    <form method="POST">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Enter Email" required><br>
        <label for="email">Username</label>
        <input type="text" name="userName" placeholder="Enter Username" required><br>
        <label for="email">Contact</label>
        <input type="text" name="contact" placeholder="Enter Contact" required><br>
        <label for="email">Full Name</label>
        <input type="text" name="fullName" placeholder="Enter Full Name" required><br>
        <label for="email">Password</label>
        <input type="text" name="password" placeholder="Enter Password" required><br>
        <label for="email">Confirm Password</label>
        <input type="text" name="pass2" placeholder="Enter Confirm Password" required><br>
    </form>
</body>
</html>